.blahaj-popup-content {
	background: #fff;
	color: #000;
	font-family: "Inter", sans-serif;
	font-size: 14px;
	padding: 8px 16px;
	box-shadow: none;
	border-radius: 12px;
	box-shadow: var(--chakra-shadows-lg);
}

.blahaj-popup-content a {
	color: #3c8ea7;
	font-weight: bold;
}

.blahaj-popup-close-button {
	display: none;
}
